<h5> Treinamento NPL</h5>

In [1]:
import pandas as pd

In [6]:
train = pd.read_excel('C:/Users/f7098849/dados2.xlsx', sheet_name='dados1')

In [9]:
#print(train['justificativa'])

<h5>Number of words</h5>

In [10]:
train['contar_palavras'] = train['justificativa'].apply(lambda x: len(str(x).split(' ')))

In [11]:
train[['justificativa','contar_palavras']].head()

                                       justificativa  contar_palavras
0  - MANUTENCAO DE 07 CADEIRAS EXISTENTES NA FILA...               20
1  PAGAMENTO INSTALÇAO PLACAS BIOMBO PRIVATICIDAD...                5
2    01 ASSENTO SANITARIO, PARA O BANHEIRO FEMININO.                7
3                01 PINO/REFORçO ESTAçãO DE TRABALHO                5
4  02 CADEIRAS MOON (GRAMPEAGEM); 03 CADEIRAS ESP...               27

<h5>Number of Characters</h5>

In [12]:
train['num_caracter'] = train['justificativa'].str.len() #this also includes spaces

In [13]:
train[['justificativa','num_caracter']].head()

                                       justificativa  num_caracter
0  - MANUTENCAO DE 07 CADEIRAS EXISTENTES NA FILA...           115
1  PAGAMENTO INSTALÇAO PLACAS BIOMBO PRIVATICIDAD...            56
2    01 ASSENTO SANITARIO, PARA O BANHEIRO FEMININO.            47
3                01 PINO/REFORçO ESTAçãO DE TRABALHO            35
4  02 CADEIRAS MOON (GRAMPEAGEM); 03 CADEIRAS ESP...           202

<h5>Average Word Length</h5>

In [14]:
def avg_word(sentence):
    words = sentence.split()
    return (sum(len(word)for word in words)/len(words))

In [15]:
train['avg_word'] = train['justificativa'].apply(lambda x: avg_word(x))

In [16]:
train[['justificativa', 'avg_word']].head()

                                       justificativa   avg_word
0  - MANUTENCAO DE 07 CADEIRAS EXISTENTES NA FILA...   4.800000
1  PAGAMENTO INSTALÇAO PLACAS BIOMBO PRIVATICIDAD...  10.400000
2    01 ASSENTO SANITARIO, PARA O BANHEIRO FEMININO.   5.857143
3                01 PINO/REFORçO ESTAçãO DE TRABALHO   6.200000
4  02 CADEIRAS MOON (GRAMPEAGEM); 03 CADEIRAS ESP...   6.518519

<h5>Number of stopwords #irrelevantes

In [18]:
from nltk.corpus import stopwords #http://www.nltk.org/book/ch00-pt.html

In [ ]:
#stop = stopwords.words('english')

import nltk
nltk.download('stopwords')

In [ ]:
stop = stopwords.words('portuguese')

In [ ]:
train['stop_words'] = train['justificativa'].apply(lambda x:len([x for x in x.split() if x in stop]))